

<form action="users" method="post">
<p>Email: <input type="text" name="email"></p>

<p>Name: <input type="text" name="name"></p>

<p>Password: <input type="password" name="password"></p>

<p>Password Confirmation <input type="password"></p>
<button style="display: block; margin-top: 20px; padding: 5px">Join</button>
</form>

